.login-page {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

}

mat-card {

    width: 420px;

    padding: 32px;

}

form {

    display: flex;

    flex-direction: column;

    gap: 16px;

}

button {

    margin-top: 16px;

}